@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }

  ::selection {
    background-color: #eb4888;
    color: black;
  }

  #broken-green-pixel {
    background-color: #f0f;
    width: 1px;
    height: 1px;
    position: fixed;
    top: -1px;
    left: -1px;
    z-index: 9999;
    pointer-events: none;
    overflow: hidden;
  }
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
