# OS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
*.stackdump

# Runtime
pids/
*.pid
*.pid.lock
*.seed

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependencies
node_modules/
jspm_packages/
bower_components/
web_modules/

# Build output
public/
dist/
out/
build/
.next/
.nuxt/
.docusaurus/
.vuepress/dist/

# Coverage
coverage/
*.lcov
.nyc_output/

# Cache
.cache/
.parcel-cache/
.grunt/
.npm/
.eslintcache
.stylelintcache
.node_repl_history
*.tsbuildinfo
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Yarn (Berry) / PnP
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Packages
*.tgz

# Env
.env
.env.local
.env.*.local

# Editor
.vscode-test/
.history/
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk
