# Netlify configuration file

[build]
# Directory to publish
publish = "public"
command = "node build.js"

[build.environment]
NODE_VERSION = "24"

[images]
remote_images = [
  "https:\\/\\/lastfm\\.freetls\\.fastly\\.net\\/.*",
  "https:\\/\\/lastfm-img2\\.akamaized\\.net\\/.*",
  "https:\\/\\/img2-ak\\.lst\\.fm\\/.*"
]
