body {
  font-family: 'Source Code Pro', monospace;
  background-color: #080808;
  color: #FFFFFF;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: max-content auto max-content;
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

header {
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
}

header i {
  font-size: 2em;
}

main {
  grid-column: 2;
  grid-row: 2;
}

#basics {
  display: block;
  max-width: 350px;
  grid-column: 1;
}

h1 {
  font-size: 2em;
  font-weight: 400;
}

h2 {
  font-size: 1.5em;
  font-weight: 300;
}

#basics h2 {
  color: #DADADA;
  margin-right: 2.5em;
  margin-top: -0.75em;
}

#avatar {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin: 0 0 10px 0;
  overflow: hidden;
  grid-column: 2;
}

::selection {
  background-color: #eb4888;
  color: black;
}

#pronounis {
  color: #f6cefc;
}

#github {
  color: #FFFFFF;
}

#twitter {
  color: #00aced;
}

#twitch {
  color: #6441A4;
}

#email {
  color: #1565c0;
}

#pronounis:hover,
#pronounis:active,
#github:hover,
#github:active,
#twitter:hover,
#twitter:active,
#twitch:hover,
#twitch:active,
#email:hover,
#email:active {
  color: #eb4888;
}



/** Footer **/
footer {
  grid-column: 2;
  grid-row: 3;
  /*text-align: center;*/
  font-weight: 400;
  font-size: 90%;
  color: #9E9E9E;
}

#copy {
  font-size: 80%;
}

#footer-span {
  display: flex;
  justify-content: space-between;
}

/* unvisited link */
footer a:link {
  color: #9E9E9E;
  text-decoration: none;
}

/* visited link */
footer a:visited {
  color: #9E9E9E;
  text-decoration: none;
}

/* mouse over link */
/* selected link */
footer a:hover,
footer a:active {
  color: #eb4888;
  text-decoration: underline;
}

/** Smaller Displays **/
@media screen and (max-width: 900px) {
  #footer-span {
    display: initial;
  }
}

@media screen and (max-width: 660px) {
  body {
    grid-template-columns: 1fr;
  }

  *,
  main,
  footer {
    grid-column: 1;
  }

  header {
    grid-column: 1;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    text-align: center;
  }

  #basics {
    grid-column: 1;
    grid-row: 1;
  }

  #avatar {
    grid-column: 1;
    grid-row: 2;
  }

  #basics h2,
  #avatar {
    margin-right: 0;
  }

  #basics {
    max-width: 300px;
  }
}

/** Tooltip **/
.tooltip {
  cursor: help;
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #FAFAFA;
}

/** Light theme **/
@media screen and (prefers-color-scheme: light) {
  body {
    background-color: #FFFFFF;
    color: #000000;
  }

  #basics h2 {
    color: #252525;
  }

  #pronounis {
    color: #f29bff;
  }

  #github {
    color: #252525;
  }

  #twitter {
    color: #00aced;
  }

  #twitch {
    color: #6441A4;
  }

  #email {
    color: #1565c0;
  }

  main {
    color: #0000ff;
  }

  footer {
    color: #616161;
  }
}
