body {
  font-family: 'Source Code Pro', monospace;
  background-color: #212121;
  color: #FFFFFF;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: max-content auto max-content;
}

header {
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
}

header i {
  font-size: 2em;
}

main {
  grid-column: 2;
  grid-row: 2;
  color: yellow;
  text-align: center;
}

#basics {
  display: block;
  max-width: 350px;
  grid-column: 1;
}

h1 {
  font-size: 2em;
  font-weight: 400;
}

h2 {
  font-size: 1.5em;
  font-weight: 300;
}

#basics h2 {
  color: #DADADA;
  margin-right: 2.5em;
  margin-top: -0.75em;
}

#avatar {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin: 0 0 10px 0;
  overflow: hidden;
  grid-column: 2;
}

::selection {
  background-color: #eb4888;
  color: black;
}

#pronounis {
  color: #f6cefc;
}

#pronounis:hover,
#pronounis:active {
  color: #eb4888;
}

#github {
  color: #FFFFFF;
}

#github:hover,
#github:active {
  color: #eb4888;
}

#twitter {
  color: #00aced;
}

#twitter:hover,
#twitter:active {
  color: #eb4888;
}

#twitch {
  color: #6441A4;
}

#twitch:hover,
#twitch:active {
  color: #eb4888;
}

#email {
  color: #1565c0;
}

#email:hover,
#email:active {
  color: #eb4888;
}



/** Footer **/
footer {
  grid-column: 2;
  grid-row: 3;
  /*text-align: center;*/
  font-weight: 400;
  font-size: 90%;
  color: #9E9E9E;
}

#copy {
  font-size: 80%;
}

#footer-span {
  display: flex;
  justify-content: space-between;
}

/* unvisited link */
footer a:link {
  color: #9E9E9E;
  text-decoration: none;
}

/* visited link */
footer a:visited {
  color: #9E9E9E;
  text-decoration: none;
}

/* mouse over link */
footer a:hover {
  color: lightpink;
  text-decoration: underline;
}

/* selected link */
footer a:active {
  color: lightpink;
  text-decoration: underline;
}


/** Smaller Displays **/
@media screen and (max-width: 900px) {
  #footer-span {
    display: initial;
  }
}

@media screen and (max-width: 660px) {
  body {
    grid-template-columns: 1fr;
  }

  * {
    grid-column: 1;
  }

  header {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    text-align: center;
  }

  #basics {
    grid-column: 1;
    grid-row: 1;
  }

  #avatar {
    grid-column: 1;
    grid-row: 2;
  }

  #basics h2,
  #avatar {
    margin-right: 0;
  }

  #basics {
    max-width: 300px;
  }
}

/** Tooltip **/
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #FAFAFA;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -100px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}